# Import Library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Sumber Data

Data dapet dari yudha

# Memanggil Data

In [ ]:
df = pd.read_csv('/content/data_lulus_tepat_waktu.csv')
df

       ip1   ip2   ip3   ip4  tepat
0     2.30  1.97  1.80  1.56  Tidak
1     1.81  1.68  1.57  1.86  Tidak
2     3.07  3.00  2.75  3.21  Tidak
3     2.71  2.33  2.61  1.98  Tidak
4     3.17  3.02  3.28  2.96  Tidak
...    ...   ...   ...   ...    ...
1682  3.07  3.04  3.39  3.55     Ya
1683  3.29  3.22  3.33  3.68     Ya
1684  3.31  3.25  3.44  3.52     Ya
1685  3.44  3.35  3.50  3.50     Ya
1686  3.18  3.05  3.05  3.27     Ya

[1687 rows x 5 columns]

# Pengenalan Data

In [ ]:
# guna untuk melihat tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ip1     1687 non-null   float64
 1   ip2     1687 non-null   float64
 2   ip3     1687 non-null   float64
 3   ip4     1687 non-null   float64
 4   tepat   1687 non-null   object
dtypes: float64(4), object(1)
memory usage: 66.0+ KB

In [ ]:
# guna untuk melihat nilai karakteristik data
df.describe()

               ip1          ip2          ip3          ip4
count  1687.000000  1687.000000  1687.000000  1687.000000
mean      3.174458     3.170551     3.249988     3.285993
std       0.347761     0.454393     0.339506     0.398833
min       0.830000     0.230000     0.550000     0.900000
25%       3.020000     3.060000     3.120000     3.170000
50%       3.220000     3.270000     3.310000     3.390000
75%       3.405000     3.440000     3.460000     3.520000
max       3.860000     4.000000     3.920000     3.910000

In [ ]:
#melihat jumlah baris, kolom
df.shape

(1687, 5)

# Data Cleansing

In [ ]:
#mengecek missing value
df.isnull().sum()

ip1      0
ip2      0
ip3      0
ip4      0
tepat    0
dtype: int64

In [ ]:
#mengecek apakah ada data yang duplikat
df.duplicated().sum()

0

# Data Preparation

In [ ]:
df

       ip1   ip2   ip3   ip4  tepat
0     2.30  1.97  1.80  1.56  Tidak
1     1.81  1.68  1.57  1.86  Tidak
2     3.07  3.00  2.75  3.21  Tidak
3     2.71  2.33  2.61  1.98  Tidak
4     3.17  3.02  3.28  2.96  Tidak
...    ...   ...   ...   ...    ...
1682  3.07  3.04  3.39  3.55     Ya
1683  3.29  3.22  3.33  3.68     Ya
1684  3.31  3.25  3.44  3.52     Ya
1685  3.44  3.35  3.50  3.50     Ya
1686  3.18  3.05  3.05  3.27     Ya

[1687 rows x 5 columns]

Sekarang kita tambahkan index angka YA dan Tidak

In [ ]:
df['prediksi'] = None

In [ ]:
for i in range(len(df)):
    if df.loc[i, 'tepat'] == 'Ya':
        df.loc[i, 'prediksi'] = 1
    elif df.loc[i, 'tepat'] == 'Tidak':
        df.loc[i, 'prediksi'] = -1
        
df['prediksi'] = df['prediksi'].astype(int)

In [ ]:
df

       ip1   ip2   ip3   ip4  tepat  prediksi
0     2.30  1.97  1.80  1.56  Tidak        -1
1     1.81  1.68  1.57  1.86  Tidak        -1
2     3.07  3.00  2.75  3.21  Tidak        -1
3     2.71  2.33  2.61  1.98  Tidak        -1
4     3.17  3.02  3.28  2.96  Tidak        -1
...    ...   ...   ...   ...    ...       ...
1682  3.07  3.04  3.39  3.55     Ya         1
1683  3.29  3.22  3.33  3.68     Ya         1
1684  3.31  3.25  3.44  3.52     Ya         1
1685  3.44  3.35  3.50  3.50     Ya         1
1686  3.18  3.05  3.05  3.27     Ya         1

[1687 rows x 6 columns]

In [ ]:
nama_prediksi = dict(zip(df.prediksi.unique(), df.tepat.unique())) #mengembalikan nilai sesuai dengan argumen yang diberikan
nama_prediksi

{-1: 'Tidak', 1: 'Ya'}

Sekarang nentuin nilai X dan y nya

X itu variabel bebas

y itu variabel terikat oleh x

In [ ]:
x = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [ ]:
x

       ip1   ip2   ip3   ip4
0     2.30  1.97  1.80  1.56
1     1.81  1.68  1.57  1.86
2     3.07  3.00  2.75  3.21
3     2.71  2.33  2.61  1.98
4     3.17  3.02  3.28  2.96
...    ...   ...   ...   ...
1682  3.07  3.04  3.39  3.55
1683  3.29  3.22  3.33  3.68
1684  3.31  3.25  3.44  3.52
1685  3.44  3.35  3.50  3.50
1686  3.18  3.05  3.05  3.27

[1687 rows x 4 columns]

In [ ]:
y

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
1682    1
1683    1
1684    1
1685    1
1686    1
Name: prediksi, Length: 1687, dtype: int64

Nah kan udah nentuin x sama y nya, skrg masuk ke tahap meisahan data training dan testing yang nantinya dipake untuk masuk ke mesin learningnya/ mencetak angka akurasi

In [ ]:
#digunakan untuk proses pembagian danproses training testing data
from sklearn.model_selection import train_test_split

#memisahkan untuk data yang di latih dan data yang di test. testnya sebesar 50%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.50, random_state=42)
#random state 42 itu buat konsisten bagi data biar hasilnya sama, tapi kalau angka yang lain ya bisa jadi ada yang bagus dan jelek

In [ ]:
#menampilkan berapa banyak data yang diuji dan dilatih 
print('x_train = ',x_train.shape)# 1168 baris, 3 kolom
print('x_test = ',x_test.shape)# 293 baris, 3 kolom
print('y_train = ',y_train.shape)# 1168 baris, - kolom
print('y_test = ',y_test.shape)# 293 baris, - kolom

x_train =  (843, 4)
x_test =  (844, 4)
y_train =  (843,)
y_test =  (844,)

In [ ]:
x_train.head()

       ip1   ip2   ip3   ip4
55    3.13  3.00  3.33  2.47
1018  2.98  3.06  3.38  3.30
213   3.07  2.07  3.29  2.12
120   2.90  3.16  3.20  3.18
1120  3.14  3.05  2.83  2.98

In [ ]:
y_train.head()

55     -1
1018    1
213     1
120     1
1120    1
Name: prediksi, dtype: int64

In [ ]:
x_test.head()

       ip1   ip2   ip3   ip4
331   2.73  1.14  3.35  3.44
1576  3.59  3.83  3.85  3.75
203   3.17  1.14  0.88  1.77
631   2.51  1.35  2.77  2.98
518   1.68  3.30  3.11  2.92

In [ ]:
y_test.head()

331     1
1576    1
203     1
631     1
518     1
Name: prediksi, dtype: int64

In [ ]:
df.isna().sum()

ip1         0
ip2         0
ip3         0
ip4         0
tepat       0
prediksi    0
dtype: int64

In [ ]:
df

       ip1   ip2   ip3   ip4  tepat  prediksi
0     2.30  1.97  1.80  1.56  Tidak        -1
1     1.81  1.68  1.57  1.86  Tidak        -1
2     3.07  3.00  2.75  3.21  Tidak        -1
3     2.71  2.33  2.61  1.98  Tidak        -1
4     3.17  3.02  3.28  2.96  Tidak        -1
...    ...   ...   ...   ...    ...       ...
1682  3.07  3.04  3.39  3.55     Ya         1
1683  3.29  3.22  3.33  3.68     Ya         1
1684  3.31  3.25  3.44  3.52     Ya         1
1685  3.44  3.35  3.50  3.50     Ya         1
1686  3.18  3.05  3.05  3.27     Ya         1

[1687 rows x 6 columns]

jadi tadi daitas adalah pembagian training dan testing, trs nampilih 5 data teratasnhya ( bukan terbesar) itu secara random.

Jadi bacanya misal, itu kan di x_test data 34 ada indikasi ipnya, nah hasil prediksinya di y_test adalah 1 brati YA. Dst

# Modeling

## Modeling Decision Tree

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
#accuracy_score = fungsi yang digunakan untuk menghitung akurasi model. 
#confusion_matrix =  fungsi yang digunakan untuk menghitung matriks kebingungan (confusion matrix) pada model. 
#Matriks kebingungan adalah tabel yang digunakan untuk mengevaluasi performa model dalam melakukan klasifikasi.

In [ ]:
#manggil modelle
model1 = KNeighborsClassifier(n_neighbors=1)

In [ ]:
# fit ini pembagian train nya
model1.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [ ]:
y_pred = model1.predict(x_test)
y_pred

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1, -1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1])

In [ ]:
acc1 = model1.score(x_test, y_test)*100

In [ ]:

print(acc1)

87.32227488151659

Masukin Coba prediksi data baru

In [213]:
new_ip1 = float(input("Masukkan nilai IP1: "))
new_ip2 = float(input("Masukkan nilai IP2: "))
new_ip3 = float(input("Masukkan nilai IP3: "))
new_ip4 = float(input("Masukkan nilai IP4: "))

# Buat data baru untuk diprediksi
new_data = pd.DataFrame({'ip1': [new_ip1], 'ip2': [new_ip2], 'ip3': [new_ip3], 'ip4': [new_ip4]})

# Lakukan prediksi menggunakan model DecisionTreeClassifier yang sudah dilatih sebelumnya
prediction = model1.predict(new_data)
print(prediction)

#Tampilkan hasil prediksi
if prediction == -1:
    print(" Hasil Dari NIlai Prediksi diatas adalah mahasiswa dapat LULUS dengan TIDAK TEPAT WAKTU")
else:
    print(" Hasil Dari NIlai Prediksi diatas adalah mahasiswa dapat LULUS dengan TEPAT Waktu")

Masukkan nilai IP1: 1.29
Masukkan nilai IP2: 1.85
Masukkan nilai IP3: 1.98
Masukkan nilai IP4: 1.32
[1]
 Hasil Dari NIlai Prediksi diatas adalah mahasiswa dapat LULUS dengan TEPAT Waktu

Atau kalau males bikin input bisa gini

In [ ]:
prediction = model1.predict([[2.30,1.97,1.50,1.80]])

# Tampilkan hasil prediksi
if prediction == 1:
    print("Hasil prediksi adalah mahasiswa dapat lulus dengan tepat waktu.")
else:
    print("Hasil prediksi adalah mahasiswa dapat lulus dengan tidak tepat waktu.")

Hasil prediksi adalah mahasiswa dapat lulus dengan tidak tepat waktu.

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(